---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { plainify } from "@/lib/utils/textConverter";
import ImageMod from "./ImageMod.astro";
interface DataInterface {
  title: string;
  meta_title: string;
  description: string;
  image: string;
  date: string;
}

const { summary_length }: { summary_length: number } = config.settings;
const props = Astro.props;

const { body, slug } = props.content;
const { title, image, date } = props.content.data as DataInterface;
---

<div
  class="space-y-5 w-full group border border-transparent hover:border-border p-4 rounded-3xl transition-all duration-300"
>
<a href={"/blog/" + slug}>
  <div class="overflow-hidden rounded-3xl relative">
    <ImageMod
      src={image}
      alt={title}
      width={356}
      height={270}
      class="w-full  transition-all duration-300"
    />
    <!--  -->
  </div>
  <div>
    <h3 class="text-h5 mb-3">{title}</h3>
    {body && <p class="text-sm text-dark/60  leading-relaxed" set:html={plainify(body.slice(0, summary_length))} />}

  </div>
</a>
  <span class="text-xs text-dark inline-block">{dateFormat(date, "dd MMM, yyyy")}</span>
</div>
