---
import ImageMod from "@/components/ImageMod.astro";
import config from "@/config/config.json";
import type { IHomepageBanner } from "@/pages/index.astro";
import TrustedBrands from "./TrustedBrands.astro";
import RightArrowButton from "@/components/RightArrowButton.astro";
import { Image } from 'astro:assets';


import bannerImage from '@/images/banner-main-2.png';

const banner = Astro.props.banner as IHomepageBanner;

const { bannerImages, bulletpoints, content, newsletterButton, title } = banner; 
---

<section class="section ph-spacing  ">
  <div class="half-background bg-theme-dark rounded-2xl"></div>
  <div class="container">
    <div class="flex flex-col items-center gap-16 lg:gap-28 text-center">
      <div class="lg:col-12 flex flex-col items-center gap-y-8">
        <div>
          <h1 class="mb-2 text-darkBlue" data-aos="fade-up-sm" data-aos-delay="0" >
            Redefining Care Administration. 
          </h1>
          <h3 class="mb-5 text-darkBlue" data-aos="fade-up-sm" data-aos-delay="0">Effortless Monitoring, Enhanced Care Outcomes. </h2>
          
          {content && <p set:html={content} class="text-lg max-w-3xl" data-aos="fade-up-sm" data-aos-delay="100" />} 
        </div>
          
        
       <div class="flex items-center gap-4"> 

          <RightArrowButton
          label='Book A Demo'
          link='/#contact-us'
          data-aos="fade-up-sm"
          data-aos-delay="200"
          className="btn btn-primary py-4 bg-primary hover:bg-primary/80 text-light " 
        >
        'Book A Demo'
        </RightArrowButton>

          <a
          class="btn btn-primary py-4 hidden lg:inline-block"
          aria-label="Learn More"
          href="/#product"
          data-aos="fade-up-sm"
          data-aos-delay="200"
        >
          Learn More
        </a>
       </div>

      </div>
      {
        bannerImages && (
          <div class=" custom-image-wrapper w-full container-lg p-8 md:pt-2 d-relative">
            <div data-aos="fade-up-sm" data-aos-delay="200" class="col-span-12 w-full h-full">
              
              {/* <Image
                src={bannerImage}
                alt="Banner Image"
                class=" w-full h-full object-cover rounded-2xl"
                width={1215}
                height={596} 
              /> */}
             

              <img
                  width={1215}
                  height={596}
                  class=" w-full h-full object-cover rounded-2xl"
                  src="/public/images/homepage/banner-main-2.png"
                  alt="Banner Image"
                />
              
            </div>
           
            
          </div>
        )
      }
      
    </div>
  </div>
</section>
